.Project h3 {
    padding-bottom: 0;
    margin-bottom: 0;

    text-align: left;
}

.Project p {
    margin-top: 0;
    text-align: left;
}

.Project {
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
}